body {
  margin: 0;
  overflow: hidden;
  touch-action: none;
}
section {
  display: flex;
  width: calc(100vw - 2rem);
  position: fixed;
  left: 1rem;
  right: 1rem;
  bottom: 1rem;
  border: none;
  margin: 0;
  padding: 0;
  align-items: center;
  justify-content: space-between;
}
input {
  width: 6ch;
}
input:nth-of-type(2) {
  width: auto;
}