body {
  margin: 0;
  overflow: hidden;
  touch-action: none;
}
section {
  display: flex;
  flex-direction: column;
  width: calc(100vw - 2rem);
  position: fixed;
  left: 1rem;
  top: 1rem;
  align-items: flex-start;
}
input {
  width: 25vw;
}